.hero {
    position: relative; 
    height: 70vh;
    width: 100%;
    background: rgb(0, 74, 185);
    background: rgba(23, 62, 170, 0.5);
}
.hero::before {
    content: "";
    background-image: url('https://placekitten.com/1200/800');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* opacity: 0.75; */
    z-index: -1;
}